{% extends 'garflix_ui/base.html'%}
{% block title%} Garflix - Login Page{% endblock%}
{% load crispy_forms_tags %}



{% block banner %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h1>WELCOME: {{ user.username }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock%}
{% block content %}
{% if user.is_authenticated %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h1>Logged as:  {{ user.username }}</h1>
        <p>Full Name: {{ user.firstname }} {{ user.lastname}}</p>
        <p>User-ID: {{ user.id }}</p>
        <p>Created: {{ user.date_joined }}</p>
        <p>Last Login: {{ user.last_login }}</p>
      </div>
  </div>
</div>
{% else %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h1>Register</h1>
      </div>
      <div class="row">
        <form method="POST" class="form-group" style="color: slategrey;">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Register</button>
          <p>MIAU MIAU NIGGA!:</p>
          {{error}}
        </form>
      </div>
    </div>
    {% endif %}
    {% endblock %}