{% extends 'garflix_ui/base.html'%}
{% block title%} Garflix - Profile Page{% endblock%}
{% load crispy_forms_tags %}



{% block banner %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h1>Welcome Back: {{ user.username }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock%}
{% block content %}
{% if user.is_authenticated %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h1>Logged as:  {{ user.username }}</h1>
        <ul style="text-decoration: none;">
          <li style="font-size: 15px">User-ID: {{ user.id }}</li>
          <li style="font-size: 15px">Created: {{ user.date_joined }}</li>
          <li style="font-size: 15px">Last Login: {{ user.last_login }}</li>
        </ul>
      </div>
  </div>
</div>
{% else %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section">
        <h1>Register</h1>
      </div>
      <div class="row">
        <form method="POST" class="form-group" style="color: slategrey;">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Register</button>
          {{error}}
        </form>
      </div>
    </div>
    {% endif %}
    {% endblock %}