{% extends 'garflix_ui/base.html'%}
{% block title%} Garflix - Login Page{% endblock%}
{% load crispy_forms_tags %}


{% block navbar %}
<ul class="nav">
  <li><a href="/index" >Home</a></li>
  <li><a href="/browse">Browse</a></li>
  <li><a href="/details">Details</a></li>
  <li><a href="/streams">Streams</a></li>
  <li><a href="/profile" class="active">Profile <img src="{% static 'assets/images/profile-header.jpg' %}" alt=""></a></li>
</ul>   
{% endblock %}


{% block banner %}
<h6>Welcome to User Profiler</h6>
<h4>You are not Logged In! <em>Register or Login to view this page correctly</em></h4>
{% endblock%}

{% block content %}
<div class="most-popular">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading-section">
            <h1>Register</h1>
          </div>
          <div class="row">
            <div class="col-lg-1 col-sm-6">
                 
                  <form method="POST" class="form-group" style="color: slategrey; margin: 10%; ">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button type="submit" class="btn btn-success">Register</button>
                  </form>  
            </div>
      </div>
</div>
{% endblock%}
